/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.img1 {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden; 
}


.img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}*/

#bg_city{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bg_city svg{
    width: 100%;
    height: 100%;
    object-position: center;
    
}

